<!DOCTYPE html>
<html>
  <head>
    <title>POOOP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Andrew and Chase SuperStore.com</h1>
    <%= render "layouts/navigation" %>
    <%= flash[:notice] %>
    <%= flash[:error] %>
    <%= yield %>
  </body>
</html>
